{% extends "base.html" %}
<title>{% block title %}Contact us{% endblock %}</title>
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/contact.css">
    </head>
    <body>
      <br><br>
      <h1 style="text-align: center;">Contact us if you run into any issues</h1>
      <h2 style="text-align: center;">Email: firstpitch@contact.com</h2>
      <h2 style="text-align: center;">Customer Support: (514) 334-5621</h2>
      <br><br>
      <div class="container">
        <form method="POST">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      
          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
      
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <button type="submit" class="btn btn-lg btn-primary" value="Submit">Submit</button>
        </form>
      </div>  
    </body>
{% endblock %}