{% extends "base.html" %}
<title>{% block title %}Home{% endblock %}</title>

{% block content %}<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Homepage</title>
        <link rel="stylesheet" href="../static/homepageassets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina&amp;display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
        <link rel="stylesheet" href="../static/homepageassets/css/Button-Change-Text-on-Hover.css">
        <link rel="stylesheet" href="../static/homepageassets/css/Button-Hover-Animate.css">
        <link rel="stylesheet" href="../static/homepageassets/css/gradient-navbar-1.css">
        <link rel="stylesheet" href="../static/homepageassets/css/gradient-navbar.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css">
        <link rel="stylesheet" href="../static/homepageassets/css/Profile-Card.css">
        <link rel="stylesheet" href="../static/homepageassets/css/side-menu.css">
        <link rel="stylesheet" href="../static/homepageassets/css/sidebar-1.css">
        <link rel="stylesheet" href="../static/homepageassets/css/sidebar.css">
        <link rel="stylesheet" href="../static/homepageassets/css/Slider-Range.css">
        <link rel="stylesheet" href="../static/homepageassets/css/sticky-dark-top-nav-with-dropdown.css">
        <link rel="stylesheet" href="../static/homepageassets/css/styles.css">
    </head>
    
    <body style="background: #ffffff;">
        <div style="height: 650px;background: var(--bs-white);width: 1600px;margin: 0px;margin-left: -150px;margin-top: 13px;padding-top: 122px;border-radius: 0px;">
            <h1 style="margin-left: 60px;font-size: 60px;font-weight: bold;margin-top: -87px; font-family: 'Yanone Kaffeesatz', sans-serif">Featured Video</h1>
            <div style="height: 400px;background: var(--bs-white);width: 945px;margin-left: 55px;box-shadow: 0px 0px 20px;"><iframe width="945" height="400" src="https://www.youtube.com/embed/1_DPS0wRU5I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div style="height: 100px;margin-top: 25px;width: 950px;margin-left: 57px;"><img src="../static/homepageassets/img/david.png" style="width: 90px;margin-left: 3px;border-radius: 80px;margin-top: -3px;height: 90.219px;">
                <h1 style="margin-top: -85px;margin-left: 131px;font-size: 35px; font-family: 'Yanone Kaffeesatz', sans-serif"><a href="/projectpage" style="text-decoration: none; color:black;">NBA TopShot Proposal</a></h1>
                <h1 style="margin-left: 136px;font-size: 18px;margin-top: -3px;color: rgb(160,160,160);">Views: 2,301</h1>
            </div>
            <div style="height: 400px;background: var(--bs-white);width: 530px;margin-left: 1038px;margin-top: -530px;padding-top: 12px;box-shadow: 0px 0px 20px 0px rgb(139,139,139);border-radius: 15px;">
                <h1 style="margin-left: 169px;width: 221px;margin-top: 6px; font-family: 'Yanone Kaffeesatz', sans-serif">Description</h1>
                <p style="width: 490px;height: 326px;font-size: 21.6px;margin-left: 26px;margin-top: -17px;color: rgb(0,0,0); font-family: 'Yanone Kaffeesatz', sans-serif"><br>My project is a NBA NFT website where people can trade, buy and sell moments. Moments are a short highlight clip of a play from the NBA. I'm looking for a investor to help expand my business into a bigger market. A cool feature of my website is that people will be able to buy these moments using crypto.</p>
            </div>
        </div>
        <div style="background: var(--bs-white);height: 325px;width: 1600px;margin-left: -150px;margin-top: 18px;padding-top: 35px;border-radius: 0px;">
            <div style="height: 185px;width: 300px;margin-left: 75px;background: var(--bs-white);box-shadow: 0px 0px 20px;"><iframe width="300" height="185" src="https://www.youtube.com/embed/sWXomSdxP3s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div style="height: 84px;text-align: center;margin-left: -19px;padding-top: 10px;"><img src="../static/homepageassets/img/pic1.png" style="width: 60px;margin-left: -216px;border-radius: 65px;">
                    <h1 style="width: 241px;font-size: 20px;margin-top: -50px;margin-left: 80px;">Half- Eaten NFT Project</h1>
                    <h1 style="color: rgb(160,160,160);font-size: 15px;margin-left: -32px;">Views: 1,021</h1>
                </div>
            </div>
            <div style="height: 185px;width: 300px;margin-left: 460px;background: var(--bs-white);margin-top: -185px;box-shadow: 0px 0px 20px;"><iframe width="300" height="185" src="https://www.youtube.com/embed/iaounb7nf8Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div style="height: 84px;text-align: center;margin-left: -19px;"><img src="../static/homepageassets/img/pic2.png" style="width: 60px;margin-left: -216px;border-radius: 65px;padding-top: 10px;">
                    <h1 style="width: 241px;font-size: 20px;margin-top: -60px;margin-left: 70px;">Biology through Tech</h1>
                    <h1 style="color: rgb(160,160,160);font-size: 15px;margin-left: -32px;">Views: 5,231</h1>
                </div>
            </div>
            <div style="height: 185px;width: 300px;margin-left: 840px;background: var(--bs-white);margin-top: -185px;box-shadow: 0px 0px 20px;"><iframe width="300" height="185" src="https://www.youtube.com/embed/ae5MssJ8en4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div style="height: 84px;text-align: center;margin-left: -19px;"><img src="../static/homepageassets/img/pic3.png" style="width: 60px;margin-left: -216px;border-radius: 65px;padding-top: 10px;">
                    <h1 style="width: 241px;font-size: 20px;margin-top: -60px;margin-left: 80px;">Invest In Scrub Daddy&nbsp;</h1>
                    <h1 style="color: rgb(160,160,160);font-size: 15px;margin-left: -32px;">Views: 2,132</h1>
                </div>
            </div>
            <div style="height: 185px;width: 300px;margin-left: 1230px;background: var(--bs-white);margin-top: -185px;box-shadow: 0px 0px 20px;"><iframe width="300" height="185" src="https://www.youtube.com/embed/gzipeeQR2l0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div style="height: 84px;text-align: center;margin-left: -19px;padding-top: 7px;"><img src="../static/homepageassets/img/pic4.png" style="width: 60px;margin-left: -216px;border-radius: 65px;height: 60.7188px;">
                    <h1 style="width: 241px;font-size: 20px;margin-top: -60px;margin-left: 66px;">Apples Design Fixed</h1>
                    <h1 style="color: rgb(160,160,160);font-size: 15px;margin-left: -32px;">Views: 10,231</h1>
                </div>
            </div>
        </div>
        <div style="height: 50px;"></div>
        <script src="../static/homepageassets/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js"></script>
        <script src="../static/homepageassets/js/Range-selector---slider.js"></script>
    </body>
    
{% endblock %}