<!DOCTYPE html> 

{% extends "base.html" %}
<title>{% block title %}Login{% endblock %}</title>
{% block content %}
<html lang="en"> 
  <head>
    <meta charset="UTF-8">
    <title>First Pitch</title> 
	<link rel="stylesheet" href="../static/login.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>
	<div class="login-form">
        <div class="login-header">
            <h3 style="font-weight: 700;">Login</h3>
        </div>
        <form class="form-inputs">
            <div class="form-group">
              <label for="emailInput" style="font-style: italic;">Email address</label>
              <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="passwordInput" style="font-style: italic;">Password</label>
              <input type="password" class="form-control" id="passwordInput" placeholder="Password">
            </div>
            <div style="text-align: right; font-weight: 50; font-style: italic;"><small>Forgot Password?</small></div>
            <button type="submit" class="btn login-btn rounded-pill"><span style="font-weight: 500; color:white">LOGIN</span></button>
          </form>
          <div class="other-signup">
            <h6 style="font-weight: 100;"><small>Not a member?</small></h6>
            <h6 style="font-weight: 600; color:grey"><small>SIGN UP</small></h6>
          </div>
    </div>
  </body>
</html> 
{% endblock %}