@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 60px  rgb(201, 201, 201);
    position: fixed;
    top:0;
    width: 100%;
}

body {
    font-size: 16px;
    color: #333;
    /* background-image: url('gradient_bg.jpg'); */
    background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    margin-top: 5rem;
}

.add-box {
    width: 5%;
    height: 100px;
    display: center;
    margin: 0 auto;
    margin-bottom: 5rem;
    box-shadow: 0 27px 87px rgba(0,0,0,0.37);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    text-align: center;
    color: rgb(122, 122, 122);
}

.add-box .add-icon {
    font-size: 50px;
    margin-top: 1rem;
}

.add-box .btn {
    border: none;
}

.box {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 80%;
    height: 800px;
    display: inline-block;
    margin: 50px 10%;
    box-shadow: 0 27px 87px rgba(0,0,0,0.37);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.box-img{
    float: left;
    width:35%;
}

.project-img{
    float: right;
    width:35%;
    padding-left: 8rem;
}

.box img {
    height: 800px;
}

.box-text{
    width: 65%;
    float:right;
    padding: 70px 70px 70px 35px;
}

.box-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #2e2e2e;
}

.box-text p {
    font-size: 25px;
    font-weight: 300;
    color: #2e2e2e;
    line-height: 30px;
    letter-spacing: 0.25px;
    margin-bottom: 15px;
}

.box-text .social {
    margin-top: 10rem;
}

.box-text .social .social-icon {
    width: 60px;
    height: 60px;
    background: linear-gradient(to right, #0258f8, #00eeff);
    border-radius: 50%;
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    margin-right: 1rem;
}